h1{
                   font-
size:80px;
                  color:
blue;
}


#especial{
                   font-
size:100px;
                   color:
red;
}
img{
                     height:
600px;

width:auto;